  p, a {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 25px;
        color: #777;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
    }
    .buttonb {
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 40px 158px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .wrapper {
        text-align: center;
    }