p, a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100px;
  color: #777;
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
}
.buttonr {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 60px 128px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonb {
    background-color: BLUE;
    border: none;
    color: white;
    padding: 60px 128px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttono {
    background-color: #FFA500;
    border: none;
    color: white;
    padding: 60px 128px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttong {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 60px 128px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.wrapper {
    text-align: center;
}
